/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .buttons {
    display: flex;
    justify-content: space-between;
 }

 .right-buttons {
    background-color: bisque;
    border: 3px solid black;
    border-radius: 25px;
 } */

.buttons { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: sienna; 
    border: 1px solid black; 
    border-radius: 5px
}
.c { 
    font-size: 12px; 
    background-color: palegoldenrod; 
    border: 1px solid black; 
    border-radius: 3px 
}

.loginout {
    border: 1px solid black;
    border-radius: 3px;
    background-color: skyblue;
    padding: 0px 10px 10px 10px;
}

#customers {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
}

#bands td, #bands th {
    padding: 8px;
}

#bands tr:nth-child(even){background-color: #f2f2f2;}

#bands tr:hover {background-color: #ddd;}

#bands th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: skyblue;
    color: black;
}

.rightbar {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    padding: 10px;
}

#errors {
    font-weight: bold;
    color: red;
}