<h1> These are all the cats! </h1>

<ul>
    <% @cat.each do |kitty| %>
        <li>
            <a href="<%= cat_url(kitty.id) %>">
                <%= kitty.name %> : <%= kitty.description %>
            </a>
        </li>
    <% end %>
</ul>