<h1>Edit a kitty!</h1>
        

<form action="<%= cats_url %>" method = "post">
    <input type="hidden" name="_method" value="patch">

    <label for="name">Name: </label>
    <input type="text" name="cat[name]" id="name" value =@cat.name>
    <br>
    
    <label for="gender">Sex: </label>
    <input type="radio" name="cat[sex]" value="M"> Male
    <input type="radio" name="cat[sex]" value="F"> Female
    <br>

    <label for="color">Color: </label>
    <select name = "cat[color]">
        <option disabled selected> -- Select the color -- </option>  
        <% Cat::COLORS.each do |col| %>
            <option value = <%=col%>> <%=col%> </option>
        <% end %>
    </select>
    <br>

    <label for="birth_date">Birth date: </label>
    <input type="date" name="cat[birth_date]">
    <br>

    <label for="Description">Description: </label>
    <input type="textarea" name="cat[description]">
    <br>

    <br><br>
    <input type="submit" value="Submit">
</form>