/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	//border-color: 
	color: $lightest-gray;
	font-weight: 700;
	padding: 7px;
	border-radius: 3px;
	// transition:
	font-family: $sans-serif;
	// text-transform:
	font-size: 14px;
	// text-align:
}

button:hover {
	background-color: $dark-blue;
	border-color: $darkest-blue;
}

hr:hover{

}

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

a {
	font: $sans-serif;
}